<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Performance Prediction</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 120px;
        }

        button {
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 6px;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>

    <h1>Welcome to Student Performance Predictor App</h1>

    <br><br>

    <!-- IMPORTANT PART -->
    <form action="{{ url_for('predict_datapoint') }}" method="get">
        <button type="submit">Predict Student Scores</button>
    </form>

</body>
</html>